---
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import CallIcon from "@/assets/call.svg"
import Logo from "@/assets/logo.svg"

const menuitems = [
    {
        title: "About",
        path: "/about",
    },
    {
        title: "Roofing Solutions",
        path: "#",
        children: [
            { title: "Residential Roofing", path: "/residential-roofing" },
            { title: "Commercial Roofing", path: "/commercial-roofing" },
        ],
    },
    {
        title: "Service Areas",
        path: "/service-areas",
    },
    {
        title: "Contact",
        path: "/contact",
    }
]
---

<header class="px-7.5 flex flex-col items-center sticky top-0 bg-slate-700 z-10 border-b border-b-slate-600">
    <div class="max-w-(--breakpoint-xl) w-full flex flex-col lg:flex-row justify-between items-center my-2">
        <Astronav>
            <div class="flex w-full lg:w-auto items-center justify-between">
                <a href="/" class="flex justify-center items-center gap-2 h-full">
                    <Logo class="w-14 nav-logo" /> 
                    <p class="text-slate-50 font-[oswald] text-[1.7rem] whitespace-nowrap">AER ROOFING</p>
                </a>
                <div class="flex gap-2 lg:hidden">
                    <a href="tel:+12087037764" class="flex justify-center items-center size-6 p-[3px] bg-orange-400 rounded-[50%]">
                        <CallIcon class="fill-white w-full" />
                    </a>
                    <MenuIcon class="w-6 text-white" />
                </div>
            </div>
            <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
                <ul class="flex flex-col lg:flex-row lg:gap-4 text-[0.925rem] text-nowrap">
                {
                    menuitems.map((item, index) => (
                    <>
                        {item.children && (
                        <Dropdown
                            title={item.title}
                            children={item.children}
                            lastItem={index === menuitems.length - 1}
                            toggleId={`toggle${index}`}
                        />
                        )}

                        {!item.children && (
                        // {(
                        <li>
                            <a
                            href={item.path}
                            class="flex lg:px-3 py-4 items-center text-slate-100 hover:text-slate-300 duration-200 ease-in-out">
                            <span> {item.title}</span>
                            </a>
                        </li>
                        )}
                    </>
                    ))
                }
                </ul>
            </MenuItems>
        </Astronav>
        <div>
            <div class="hidden lg:flex items-center gap-4">
                <a href="tel:+12087037764" class="flex items-center gap-2 font-semibold text-orange-400">
                    <CallIcon class="fill-orange-400 w-6" /> (208) 703-7764
                </a>
            </div>
        </div>
    </div>
</header>
